<h2 class="page-title"><%= config['board'].capitalize %></h2>
<div class="header-links">
  <a class="header-link" href="/boards/default/config">Config this dashboard</a>
  <a class="header-link" href="/boards/new">Add a new dashboard</a>
</div>
<style>
  <% config['styles'].values.each do |style| %>
    <%= style %>
  <% end %>
</style>
<div class="gridster">
  <ul>
    <% config['widges'].each do |widge| %> 
      <li class="dashboard-widge" id="<%= widge['id'] %>" data-row="<%= widge['row'] %>" data-col="<%= widge['col'] %>" data-sizex="<%= widge['sizex'] %>" data-sizey="<%= widge['sizey'] %>" data-bind="css: {error: hasError()}">
        <div data-bind="ifnot: hasError">
          <div data-bind="with: data">
            <%= widge['template'] %>
          </div>
        </div>
        <div data-bind="if: hasError">
          <div class="widge-title"><%= widge['id'] %></div>
          <div class="error-message"> 
            <span>Error: </span>
            <span data-bind="text: error"></span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<script type="text/javascript">
  base_width = 280;
  base_height = 140;
  $(function(){
    $('.gridster ul').gridster({
      widget_margins: [10, 10],
      widget_base_dimensions: [base_width, base_height],
      resize: { 
        enabled: true,
        stop: function(e, ui, widges){
          for(i=0; i<widges.length; i++){
            id = widges[i].id;
            model = widge_models[id];
            sizex = $(widges[i]).attr('data-sizex')
            sizey = $(widges[i]).attr('data-sizey')
            model.changeSize(sizex, sizey);
            model.pull();
          }
        }
      }
    });
    widge_models = {};
    $('.dashboard-widge').each(function(index, widge){
      loader = new Dashboard.WidgeLoader("<%=config['board'] %>", widge.id, base_width, base_height);
      widge_models[widge.id] = loader;
      ko.applyBindings(loader, widge);
      loader.startPull();
    });
  }); 
</script>
