<h3 class="page-title">Default dashboard</h3>
<a class="header-link" href="/config/default">Config this dashboard</a>
<a class="header-link" href="/config/new">Add a new dashboard</a>
<div class="gridster">
  <ul>
    <% config['widges'].each do |widge| %> 
    <li data-row="<%= widge['row'] %>" data-col="<%= widge['col'] %>" data-sizex="<%= widge['sizex'] %>" data-sizey="<%= widge['sizey'] %>"><%= widge['name'] %></li>
    <% end %>
  </ul>
</div>
<script type="text/javascript">
  $(function(){
    $('.gridster ul').gridster({
      widget_margins: [10, 10],
      widget_base_dimensions: [140, 140],
      resize: { enabled: true }
    });
  }); 
</script>
