<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal">
      <div class="heading">
        <img src="/images/ju138.png" height="36" width="36"/>
      </div>
      <div class="heading heading-title"><a href="/" class="pure-menu-link main-title">JU</a></div>
      <div class="menus">
        <ul class="pure-menu-list board-list">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" id="menuLink-boards" class="pure-menu-link board-link current-board-link"><%= config['board'] %></a>
              <ul class="pure-menu-children">
                <% other_boards.each do |board_name| %>
                  <li class="pure-menu-item"><a href="/boards/<%= URI.escape(board_name) %>" class="pure-menu-link board-link other-board-link"><%= board_name.capitalize %></a></li>
                <% end %>
              </ul>
          </li>
        </ul>
        <ul class="pure-menu-list right-header-menu">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" id="menuLink-widges" class="pure-menu-link">Create Widge</a>
              <ul class="pure-menu-children">
                <% widge_types.each do |widge_type| %>
                  <li class="pure-menu-item"><a href="/boards/<%= URI.escape(config['board']) %>/widges/new/<%= URI.escape(widge_type) %>" class="pure-menu-link child-widge-link">Create <%= widge_type.gsub('_', ' ').gsub('-', ' ')%> Widge</a></li>
                <% end %>
              </ul>
          </li>
          <li class="pure-menu-item"><a href="/boards/new" class="pure-menu-link">Create Board</a></li>
        </ul>
      </div>
    </div>
</div>
<style>
  <% config['styles'].values.each do |style| %>
    <%= style %>
  <% end %>
</style>
<div class="content-wrapper">
    <div class="gridster">
      <ul>
        <% config['widges'].each do |widge| %> 
          <li class="dashboard-widge" id="<%= widge['name'].gsub(' ', '-') %>" widge-name="<%= widge['name'] %>" data-row="<%= widge['row'] %>" data-col="<%= widge['col'] %>" data-sizex="<%= widge['sizex'] %>" data-sizey="<%= widge['sizey'] %>" pull-inteval="<%= widge['pull-inteval'] || 5000 %>" data-bind="css: {error: hasError()}">
          <div class="dashboard-widge-content">
              <div data-bind="ifnot: hasError">
                <div data-bind="with: data">
                  <%= widge['template'] %>
                </div>
              </div>
              <div data-bind="if: hasError">
                <div class="widge-title"><%= widge['name'] %></div>
                <div class="error-message"> 
                  <span>Error: </span>
                  <span data-bind="text: error"></span>
                </div>
              </div>
              <div class="widge-edit-link">
                <a href="/boards/<%= URI.escape(config['board']) %>/widges/<%= URI.escape(widge['name']) %>/edit" title="Edit Widge">
                  <img src="/images/edit.png" class="widge-edit-icon" alt="edit"/>
                </a>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
</div>
<script type="text/javascript">

  var widge_models = {};
  var base_width = 280;
  var base_height = 140;

  $(function(){
    $('.gridster ul').gridster({
      widget_margins: [10, 10],
      widget_base_dimensions: [base_width, base_height],
      resize: { 
        enabled: true,
        stop: function(){Dashboard.layoutChangeHandler("<%=config['board'] %>");}
      },
      draggable: {
        stop: function(){Dashboard.layoutChangeHandler("<%=config['board'] %>");}
      }
    });
    $('.dashboard-widge').each(function(index, widge){
      var id = $(widge).attr('widge-name')
      var loader = new Dashboard.WidgeLoader("<%=config['board'] %>", id, base_width, base_height, $(widge).attr('pull-inteval'), $(widge).attr('data-sizex'), $(widge).attr('data-sizey'));
      widge_models[id] = loader;
      ko.applyBindings(loader, widge);
      loader.startPull();
    });
  }); 
</script>
