<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal">
      <div class="heading">
        <img src="/images/ju138.png" height="36" width="36"/>
      </div>
      <div class="heading heading-title"><a href="/" class="pure-menu-link main-title">JU</a></div>
      <div class="menus">
        <ul class="pure-menu-list board-list">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" id="menuLink-boards" class="pure-menu-link board-link current-board-link"><%= config['board'] %></a>
              <ul class="pure-menu-children">
                <% other_boards.each do |board_name| %>
                  <li class="pure-menu-item"><a href="/boards/<%= URI.escape(board_name) %>" class="pure-menu-link board-link other-board-link"><%= board_name.capitalize %></a></li>
                <% end %>
              </ul>
          </li>
        </ul>
        <ul class="pure-menu-list right-header-menu">
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" id="menuLink-widgets" class="pure-menu-link">Create Widget</a>
              <ul class="pure-menu-children">
                <% widget_types.each do |widget_type| %>
                  <li class="pure-menu-item"><a href="/boards/<%= URI.escape(config['board']) %>/widgets/new/<%= URI.escape(widget_type) %>" class="pure-menu-link child-widget-link">Create <%= widget_type.gsub('_', ' ').gsub('-', ' ')%> widget</a></li>
                <% end %>
              </ul>
          </li>
          <li class="pure-menu-item"><a href="/boards/new" class="pure-menu-link">Create Board</a></li>
          <li class="pure-menu-item"><a href="/boards/<%= URI.escape(config['board']) %>/edit" class="pure-menu-link">Edit Board</a></li>
        </ul>
      </div>
    </div>
</div>
<style>
  <% config['styles'].values.each do |style| %>
    <%= style %>
  <% end %>
</style>
<div class="content-wrapper">
    <div class="gridster">
      <ul>
        <% config['widgets'].each do |widget| %> 
          <li class="dashboard-widget" id="<%= widget['name'].gsub(' ', '-') %>" widget-name="<%= widget['name'] %>" data-row="<%= widget['row'] %>" data-col="<%= widget['col'] %>" data-sizex="<%= widget['sizex'] %>" data-sizey="<%= widget['sizey'] %>" pull-inteval="<%= widget['pull-inteval'] || 5000 %>" data-bind="css: {error: hasError()}">
          <div class="dashboard-widget-content">
              <div data-bind="ifnot: hasError">
                <div data-bind="with: data">
                  <%= widget['template'] %>
                </div>
              </div>
              <div data-bind="if: hasError">
                <div class="widget-title"><%= widget['name'] %></div>
                <div class="error-message"> 
                  <span>Error: </span>
                  <span data-bind="text: error"></span>
                </div>
              </div>
              <div class="widget-edit-link">
                <a href="/boards/<%= URI.escape(config['board']) %>/widgets/<%= URI.escape(widget['name']) %>/edit" title="Edit widget">
                  <img src="/images/edit.png" class="widget-edit-icon" alt="edit"/>
                </a>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
</div>
<script type="text/javascript">

  var widget_models = {};
  var base_width = <%= config['base_sizex'] || 280 %>;
  var base_height = <%= config['base_sizey'] || 140 %>;

  $(function(){
    $('.gridster ul').gridster({
      widget_margins: [10, 10],
      widget_base_dimensions: [base_width, base_height],
      resize: { 
        enabled: true,
        stop: function(){Dashboard.layoutChangeHandler("<%=config['board'] %>");}
      },
      draggable: {
        stop: function(){Dashboard.layoutChangeHandler("<%=config['board'] %>");}
      }
    });
    $('.dashboard-widget').each(function(index, widget){
      var id = $(widget).attr('widget-name')
      var loader = new Dashboard.WidgetLoader("<%=config['board'] %>", id, base_width, base_height, $(widget).attr('pull-inteval'), $(widget).attr('data-sizex'), $(widget).attr('data-sizey'));
      widget_models[id] = loader;
      ko.applyBindings(loader, widget);
      loader.startPull();
    });
  }); 
</script>
