<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal">
      <div class="heading">
      <img src="/images/ju138.png" height="36" width="36"/>
    </div>
      <div class="heading heading-title"><a href="/" class="pure-menu-link main-title">JU</a></div>
      <% if widget_action == 'new' %>
        <div class="pure-menu-heading">New Widget</div>
      <% else %>
        <div class="pure-menu-heading">Edit Widget</div>
      <% end %>
    </div>
</div>
<%= styled_flash %>
<form class="pure-form pure-form-aligned new-widget" action="/boards/<%= URI.escape(params['board_name']) %>/widgets/<%= URI.escape(params['widget_type']) %>" method="POST">
    <fieldset>
      <% if widget_action == 'new' %>
        <legend>Create a new <%= params['widget_type'] %> widget</legend>
      <% else %>
        <legend>Edit <%= params['widget_type'] %> widget</legend>
      <% end %>
        <% settings.each do |setting| %>
          <div class="pure-control-group">
            <label for="<%= setting['name']%>"><%= setting['description'] || setting['name']%></label>
            <input type="text" name="<%= setting['name'] %>" value="<%= params[setting['name']] || setting['default'] %>" placeholder="<%= setting['description'] || setting['name'] %>"></input>
        </div>
        <% end %>
        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">Create</button>
          <a  href="/" class="pure-button">Cancel</a>
       </div>
       <input type="hidden" name="widget_action" value="<%= widget_action %>"/>
    </fieldset>
</form>
